@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i|Montserrat');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #242934;
  color:#fff;
}
img{
  background-color: #242934
}
.hed {
  font-family: 'Archivo Black', sans-serif;
}

.byline {
  font-family: 'Fira Mono', monospace;
}


.logo-lockup {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
}

.logo-lockup a {
  display: block;
  cursor: pointer;
}

.logo-lockup a .logo {
  width: 60px;
  height: 60px;
  background: #EAE7D6;
}

.logo-lockup a small {
  display: block;
  transform: rotate(-90deg);
  margin-top: 0;
  font-size: 1rem;
  line-height: 60px;
  opacity: 0;
  padding: 0 20px;
  top: 60px;
  left: -30px;
  position: fixed;
  z-index: -1;
  transition: all .25s ease-in-out;
  color: #7b3af5;
}


.hed {
  width: 100%;
}

.logo-lockup a:hover small {
  opacity: 1;
  top: 120px;
}

@media all and (max-width: 700px) {
  .logo-lockup {
    display: none;
  }
}

.aside {
  width: calc(100vw - 700px - 125px);
  right: unset;
  left: 62px;
  top: -25px;
}


.aside.title {
  top: -200px;
}

@media all and (max-width: 1000px) {
  .aside {
    width: 100%;
  }
}

.dek {
  /*color: #bbb;*/
  font-weight: normal;
}

blockquote {
  font-style: italic;
  color: #666;
}

.note p {
  font-size: small !important;
  font-style: italic;
}

small {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}
small p {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

small span {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

.inset {
  max-width: 300px;
  margin: 60px auto;
  text-align: center;
}

input[type=range] {
  margin: 0 10px;
}

button {
  cursor: pointer;
}


tspan {
  font-family: Verdana;
  font-size: 11px;
}

input {
  cursor: pointer;
}

thead {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 10px;
  color: black;
  border-bottom: solid 2px black;
  vertical-align: bottom;
}

table {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
}

td {
  padding: 10px 10px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: top;
  max-width: 75%;
}
th {
  padding: 10px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr.selected {
  background-color: #ccc;
}
td.number {
  font-family: 'Fira Mono', monospace;
  text-align: right;
}

tspan {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #EAE7D6;
}

.idyll-root a {
  border: none;

  text-decoration: none;
  box-shadow: none;
  transition: color 0.25s;
}
.header-section{
  min-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}
.section1{
  min-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}

.idyll-text-container{
  max-width: 100%;
  margin:0 50px;
}
.headerimg{
  min-height: 620px;
}
h3{
  padding: 0 0 0 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom:none;
  color: #fff;
  font-family: 'Nanum Myeongjo', sans-serif;
}
h2{
  padding: 0 0 0 0;
  font-size: 3.2rem;
  font-weight: 200;
  text-align: center;
  border-bottom:none;
  color: #f6f6f6;
  font-family: 'Kaushan Script', cursive;
}
h1{
  font-size: 5.65rem;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #E93D58;
  font-family: 'Anton', sans-serif;

}

.fade-transition{
  padding: 10px;
  color:#fff;
  text-decoration: none;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;

}
.fade-entered,
.fade-exited{
  transition: opacity 2s;
  opacity: 0 ;
}

/* section 3*/
.section3{
  min-height: 500px;
}

.section3-container{
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-card{
  -webkit-box-shadow: -8px 8px 0 0 rgba(144,252,253,.8);
  box-shadow: -8px 8px 0 0 rgba(144,252,253,.8);
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  font-size: 30px;
  color: #000;
}

.choose{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px 0;
}
.choose button{
  font-size: 20px;
  background-color: transparent;
  color:#FFFE54;
  font-family: 'Nanum Myeongjo', sans-serif;
  border: none;
  word-wrap: normal;
  max-width: 180px;
  text-align: left;
}

/*gauge*/
#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}

/*section2*/
.section2{
  display: flex;
  flex-direction: row;
  min-height: 600px;
}


.left{
  min-width: 600px;
  margin-left: 100px;
}

.line {
  fill:none;
  stroke: #7b3af5;
  stroke-width: 4px;
}

.myaxis line{
  stroke: #fff;
}

.myaxis path{
  stroke: #fff;
}

.myaxis text{
  fill: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', sans-serif;
}  

.myaxis_y line{
  stroke: #fff;
}

.myaxis_y path{
  stroke: #242934;
}

.myaxis_y text{
  fill: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', sans-serif;
}  

