@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i|Montserrat");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #242934;
  color: #fff;
}
img {
  background-color: #242934;
}
.hed {
  font-family: "Archivo Black", sans-serif;
}

.byline {
  font-family: "Fira Mono", monospace;
}

.logo-lockup {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
}

.logo-lockup a {
  display: block;
  cursor: pointer;
}

.logo-lockup a .logo {
  width: 60px;
  height: 60px;
  background: #eae7d6;
}

.logo-lockup a small {
  display: block;
  transform: rotate(-90deg);
  margin-top: 0;
  font-size: 1rem;
  line-height: 60px;
  opacity: 0;
  padding: 0 20px;
  top: 60px;
  left: -30px;
  position: fixed;
  z-index: -1;
  transition: all 0.25s ease-in-out;
  color: #7b3af5;
}

.hed {
  width: 100%;
}

.logo-lockup a:hover small {
  opacity: 1;
  top: 120px;
}

@media all and (max-width: 700px) {
  .logo-lockup {
    display: none;
  }
}

.aside {
  width: calc(100vw - 700px - 125px);
  right: unset;
  left: 62px;
  top: -25px;
}

.aside.title {
  top: -200px;
}

@media all and (max-width: 1000px) {
  .aside {
    width: 100%;
  }
}

.dek {
  /*color: #bbb;*/
  font-weight: normal;
}

blockquote {
  font-style: italic;
  color: #666;
}

.note p {
  font-size: small !important;
  font-style: italic;
}

small {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}
small p {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

small span {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

.inset {
  max-width: 300px;
  margin: 60px auto;
  text-align: center;
}

input[type="range"] {
  margin: 0 10px;
}

button {
  cursor: pointer;
}

tspan {
  font-family: Verdana;
  font-size: 11px;
}

input {
  cursor: pointer;
}

thead {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  padding: 10px;
  color: black;
  border-bottom: solid 2px black;
  vertical-align: bottom;
}

table {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
}

td {
  padding: 10px 10px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: top;
  max-width: 75%;
}
th {
  padding: 10px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr.selected {
  background-color: #ccc;
}
td.number {
  font-family: "Fira Mono", monospace;
  text-align: right;
}

tspan {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #eae7d6;
}

.idyll-root a {
  border: none;

  text-decoration: none;
  box-shadow: none;
  transition: color 0.25s;
}
.header-section {
  min-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}


.idyll-text-container {
  max-width: 100%;
  margin: 0 50px;
}
.headerimg {
  min-height: 620px;
}
h3 {
  padding: 0 0 0 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: none;
  color: #fff;
  font-family: "Nanum Myeongjo", sans-serif;
}
h2 {
  padding: 0 0 0 0;
  font-size: 3.2rem;
  font-weight: 200;
  text-align: center;
  border-bottom: none;
  color: #f6f6f6;
  font-family: "Kaushan Script", cursive;
}
h1 {
  font-size: 5.65rem;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #e93d58;
  font-family: "Anton", sans-serif;
}

.fade-transition {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.fade-entered,
.fade-exited {
  transition: opacity 2s;
  opacity: 0;
}

/* section 3*/
.section3 {
  margin-top: 10rem;
  min-height: 500px;
}

.section3-container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-card {
  -webkit-box-shadow: -8px 8px 0 0 rgba(144, 252, 253, 0.8);
  box-shadow: -8px 8px 0 0 rgba(144, 252, 253, 0.8);
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  font-size: 30px;
  color: #000;
}

.choose {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px 0;
}
.choose button {
  font-size: 20px;
  background-color: transparent;
  color: #fffe54;
  font-family: "Nanum Myeongjo", sans-serif;
  border: none;
  word-wrap: normal;
  max-width: 180px;
  text-align: left;
}

/*gauge*/
#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}

/*section2*/
.section2 {
}

.left {
  min-width: 600px;
  margin-right: 60px;
}

.line {
  fill: none;
  stroke: #7b3af5;
  stroke-width: 4px;
}

.myaxis line {
  stroke: #fff;
}

.myaxis path {
  stroke: #fff;
}

.myaxis text {
  fill: white;
  font-size: 12px;
  font-family: "Nanum Myeongjo", sans-serif;
}

.myaxis_y line {
  stroke: #fff;
}

.myaxis_y path {
  stroke: #242934;
}

.myaxis_y text {
  fill: white;
  font-size: 12px;
  font-family: "Nanum Myeongjo", sans-serif;
}

.word-cloud text {
  font-family: "Nanum Myeongjo", sans-serif;
  fill: #f6f6f6;
  cursor: pointer;
}

.word-cloud .clickedWord {
  fill: #fffe54;
  font-family: "Anton", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

.section_2 {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.word-cloud text:hover {
  fill: #f1f0a8;
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media only screen and (min-width: 60em) {
  .example_content {
    display: block;
    width: 33.33%;
  }
}

.example_content:hover {
  background: #fff;
  -webkit-box-shadow: -4px 4px 0 0 rgba(144, 252, 253, 0.8);
  box-shadow: -4px 4px 0 0 rgba(144, 252, 253, 0.8);
}

.example_content:hover p{
  color: #000;
}


.example_content {
  max-width: 25rem;
  border-radius: 3px;
  padding: .75rem;
  cursor: pointer;
}
.example_title, .example_footer{
  font-style: italic;
}
.example_content p {
  margin: 0;
  margin-bottom: 1em;
  font-family: "Nanum Myeongjo", sans-serif;
}

.example_content .highlight {
  display: inline;
  color: #000;
  background-color: #fffe54;
  -webkit-box-shadow: 4px 0 0 #fffe54, -4px 0 0 #fffe54;
  box-shadow: 4px 0 0 #fffe54, -4px 0 0 #fffe54;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.example_short{
  max-height: 300px;
  overflow: auto;
}

.example_content .example_short a {
  font-weight: 400;
  margin-left: 6px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.example_content:hover .example_short a {
  border-bottom: 1px solid #000;
}

.x-small {
  font-size: 14px;
  line-height: 1.5;
}

.examples_title{
  text-align: center;
  margin-bottom: 1rem;
}

.examples_title span{
  border-bottom: 1px solid currentColor;
}

.examples_btn{
  text-align: center;
  margin-top: 1.5rem;
}
.btn {
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  text-align: center;
  color: #282828;
  padding: .75em 1em;
  font-size: 15px;
  line-height: 1;
  -webkit-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
  font-family: "Kaushan Script", cursive;
}

.news.is-visible {
  display: block;
}

.news {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101vh;
  background-color: rgba(40,40,40,.9);
  display: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000000;
}
.news_content {
  max-width: 50rem;
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #f4f4f4;
  color:#000;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-height: 80vh;
  overflow-y: scroll;
}

.close-button {
  position: absolute;
  right: .5em;
  top: .1em;
  font-size: 24px;
  line-height: 1.5;
}

.news_date {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

.news_title {
  font-weight: 400;
  margin: 0.4rem 0;
  color:#000;
  text-transform: capitalize;
  line-height: 1.2;
  position: relative;
  font-size: 3rem;
  border: none;
}

.news_body{
  font-size: 14px;
  line-height: 1.5;
  font-family: "Nanum Myeongjo", sans-serif;
}

@media only screen and (min-width: 50em){
.news_content {
    top: 50%;
    padding: 3rem;
}
}

/*section1*/
.section1 {
  min-height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}
.section1-container{
  margin-top:6rem;
}
.card{
  -webkit-box-shadow: 8px -8px 0 0 rgba(253, 77, 105, 1);
  box-shadow: 8px -8px 0 0 rgba(253, 77, 105, 1);
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  background-color: white;
  color:#000;
  margin: 0 auto;
}
.btns{
  text-align: center;
}
.choice-btn-t,.choice-btn-f,.choice-btn-restart,.choice-btn-next{
  font-weight: 500;
  
  border: none;
  border-radius: 0px;
  text-align: center;
  margin-right: 10px;
  padding: .75em 1em;
  font-size: 15px;
  line-height: 1;
  -webkit-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
  font-family: "Kaushan Script", cursive;
}
.choice-btn-next{
  background-color: #fffe54;
  color: #282828;
}
.choice-btn-restart{
  background-color: #7b3af5;
  color: #fff;
}
.choice-btn-f{
  background-color: #FD4D69;
  color:#fff;
  
}

.choice-btn-t{
  color: #282828;
  background-color: #90FCFD;
}
.section1-score{
  font-family: "Indie Flower", sans-serif;
  font-size:25px;
  text-align: center;
  color:pink;
  margin-bottom: 1rem;
}
.section1-score .highlight2{
  display: inline;
  color: #000;
  background-color: #fffe54;
  -webkit-box-shadow: 4px 0 0 #fffe54, -4px 0 0 #fffe54;
  box-shadow: 4px 0 0 #fffe54, -4px 0 0 #fffe54;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.answertrue{
  font-size:20px;
  font-family: "Lemon", sans-serif;
  text-align:center;
  color:greenyellow;
}
.answerfalse{
  font-size:20px;
  font-family: "Lemon", sans-serif;
  border: #FD4D69;
  text-align: center;
  color:orangered;

}